@model ShopTree.Areas.Admin.Models.ChangePasswordViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12 p-2">
                    <div class="card">
                        <div class="card-header">
                            <strong>Đổi mật khẩu</strong>
                        </div>

                        @using (Ajax.BeginForm("ChangePassword", "Employees", new { area = "Admin" },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    LoadingElementId = "loader",
                                    OnBegin = "OnBegin",
                                    OnSuccess = "OnSuccess"
                                }))
                        {
                            <div class="card-body">

                                <div class="form-group row">
                                    <div class="col-md-6 row">
                                        <label class="col-md-3 col-form-label">Mật khẩu cũ(*) :</label>
                                        <div class="col-md-9">
                                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                                            <div class="field-error">
                                                @Html.ValidationMessage("OldPassword", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6 row">
                                        <label class="col-md-3 col-form-label">Mật khẩu mới(*) :</label>
                                        <div class="col-md-9">
                                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                            <div class="field-error">
                                                @Html.ValidationMessage("NewPassword", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6 row">
                                        <label class="col-md-3 col-form-label">Nhập lại mật khẩu mới(*) :</label>
                                        <div class="col-md-9">
                                            @Html.PasswordFor(model => model.ReNewPassword, new { @class = "form-control" })
                                            <div class="field-error">
                                                @Html.ValidationMessage("ReNewPassword", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-1">
                                        <button class="custom-btn custom-btn-info" type="submit">
                                            <i class="fa fa-check-circle"></i> Xác nhận
                                        </button>
                                    </div>
                                    <div class="col-4 pt-2 pb-2">
                                        <div class="loading-container" id="loader">
                                            <img src="~/Assets/admin/img/loading.gif" class="loading-img" />
                                            Loading....
                                        </div>
                                    </div>            
                                </div>
                                <div class="return-error"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


