@model List<ShopTree.Models.Blog>
@using ShopTree.Common

<div class="blog_content">
    @foreach (var item in Model)
    {
        <div class="article_item">
            <div class="article_img">
                <a href="@Url.Action("Detail", "Blogs", new { id = Slug.GenerateSlug(item.Id, item.Title) })">
                    <img src="@Url.Content("~/" + item.Avatar)">
                </a>
            </div>
            <div class="article_content clearfix">
                <div class="title">
                    <h4><a href="@Url.Action("Detail", "Blogs", new { id = Slug.GenerateSlug(item.Id, item.Title) })">@item.Title</a></h4>
                </div>
                <div class="article_meta">
                    <div class="article_comment">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span>@item.View</span>
                    </div>
                    <div class="article_created">
                        <i class="fa fa-calendar" aria-hidden="true"></i> <time>@item.DatePost.ToShortDateString()</time>
                    </div>
                </div>
                <div class="des">
                    @{ var description = item.Description as String;}
                    <p>@description.Substring(0, 80)</p>
                </div>
                <a class="readmore" href="@Url.Action("Detail","Blogs",new { id = Slug.GenerateSlug(item.Id, item.Title) })">
                    Đọc tiếp <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    }

</div>