@model ShopTree.Models.ProductViewModel
@using ShopTree.Common
@using System.Globalization

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-wrapper zoomIn wow" style="visibility: visible; animation-name: zoomIn;">
    <div class="product-block product-resize m-b-20 fixheight" style="height: 295px;">
        <div class="product-image image-resize">
            <a href="@Url.Action("Detail", "Products", new { id = Slug.GenerateSlug(Model.ProductId, Model.ProductName) })">
                <img class="loading" src="@Url.Content(Model.Avatar)">
            </a>
            <div class="product-actions hidden-xs">
                <div class="btn-add-to-cart" proid="@Model.ProductId" proname="@Model.ProductName" quantity="1" price="@Model.SellPrice" proimg="@Model.Avatar">
                    <a href="javascript:void(0);"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                </div>
                <div class="btn_quickview">
                    <a class="quickview" href="@Url.Action("Detail", "Products", new { id = Slug.GenerateSlug(Model.ProductId, Model.ProductName) })"><i class="fa fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="product-info text-center m-t-xxs-20">
            <h3 class="pro-name">
                <a href="@Url.Action("Detail", "Products", new { id = Slug.GenerateSlug(Model.ProductId, Model.ProductName) })">@Model.ProductName</a>
            </h3>
            <div class="pro-prices">
                <span class="pro-price">@Model.SellPrice.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</span>
            </div>
        </div>
    </div>
</div>
