<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="menu-account">
                    <h3>
                        <span>
                            Tài khoản
                        </span>
                    </h3>
                    <ul>
                        <li><a href="@Url.Action("Login", "Customers")"><i class="fa fa-sign-in"></i> Đăng nhập</a></li>
                        <li><a href="@Url.Action("Register", "Customers")"><i class="fa fa-key"></i> Đăng ký</a></li>
                        <li class="active"><a href="@Url.Action("ForgotPassword", "Customers")"><i class="fa fa-lock"></i> Quên mật khẩu</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">

                <div class="breadcrumb clearfix">
                    <ul>
                        <li class="home">
                            <a title="Đến trang chủ" href="@Url.Action("Index", "Home")" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                        </li>
                        <li class="icon-li"><strong>Quên mật khẩu</strong> </li>
                    </ul>
                </div>
                <div class="foget-password-content clearfix">
                    <h1 class="title"><span>Quên mật khẩu</span></h1>
                    @if (ViewBag.MessageFailed != null)
                    {
                        <div class="alert-danger alert fade in">
                            <button data-dismiss="alert" class="close"></button>
                            <i class="fa-fw fa fa-remove"></i>
                            <span>@ViewBag.MessageFailed</span>
                        </div>
                    }
                    @if (ViewBag.MessageSuccess != null)
                    {
                        <div class="alert-info alert fade in">
                            <button data-dismiss="alert" class="close"></button>
                            <i class="fa-fw fa fa-check"></i>
                            <span>@ViewBag.MessageSuccess</span>
                        </div>
                    }

                    <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
                        @using (Html.BeginForm("ForgotPassword", "Customers", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" name="requiredEmail" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button type="submit" class="btn btn-primary">Gửi mật khẩu</button>
                                    <a href="@Url.Action("Login", "Customers")">Quay lại đăng nhập</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu-quick-select ul").hide();
        $(".menu-quick-select").hover(function () {
            $(".menu-quick-select ul").show();
        }, function () {
            $(".menu-quick-select ul").hide();
        });
    });
</script>