@using PagedList.Mvc
@using System.Globalization
@using ShopTree.Common
@model PagedList.IPagedList<ShopTree.Models.Order>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Admin</li>
        <li class="breadcrumb-item active"><a href="@Url.Action("AllOrder", "Orders", new { area = "Admin" })">@ViewBag.Title</a></li>
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Order code</th>
                                        <th>Ngày order</th>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <th>Nhân viên xử lý</th>
                                        }
                                        <th>Trạng thái đơn hàng</th>
                                        <th>Ngày giao</th>
                                        <th>Tổng tiền</th>
                                        <th>Ghi chú</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.OrderCode</td>
                                            <td>@item.OrderDate.ToString("dd/MM/yyyy")</td>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <td>@(item.ProcessingEmployeeId != null ? item.Employee.FullName : "Chưa xử lý")</td>
                                            }

                                            <td>@item.OrderStatus.Status</td>
                                            <td>@(item.DeliveryDate != null ? item.DeliveryDate.ToString() : "-")</td>
                                            <td>@item.Total.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</td>
                                            <td>@(item.CancelReason != null ? (item.CancelReason.Substring(10) + "...") : item.CancelReason)</td>
                                            <td class="td-contain-button">
                                                <a class="custom-btn custom-btn-warning" href="@Url.Action("Detail", "Orders", new { area = "Admin", id = item.Id, page = Model.PageNumber })">
                                                    <i class="fa fa-check-square-o"></i>
                                                    Chi tiết đơn hàng
                                                </a>
                                                @if (User.IsInRole("Employee"))
                                                {
                                                    if (item.OrderStatusId == (int)Constants.ORDER_STATUS.WAITING)
                                                    {
                                                        <a class="custom-btn custom-btn-success" href="@Url.Action("Process", "Orders", new { area = "Admin", orderId = item.Id, page = Model.PageNumber })">
                                                            <i class="fa fa-arrow-circle-o-right"></i>
                                                            Xử lý
                                                        </a>
                                                    }
                                                }

                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <a class="custom-btn custom-btn-remove" data-toggle="modal" data-target="#confirm-delete" data-page-index="@Model.PageNumber" data-page="Product" data-id="@item.Id" data-prop-name="@item.OrderCode">
                                                        <i class="fa fa-minus-circle"></i>
                                                        Xoá
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="pageinate">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="pagination">
                                    <div class="row">
                                        <div>
                                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                                            <span>
                                                @Html.PagedListPager(Model, page => Url.Action("AllOrder", "Orders", new { page, area = "Admin" }))
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (User.IsInRole("Admin"))
                            {
                                @Html.Partial("_ModalConfirmDelete")
                            }
                        </div>
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
            </div>
        </div>
        <!-- /.conainer-fluid -->
    </div>
</main>

